body {
    font-family: sans-serif;
}

.bg-1 {
    background-color: #3f6e2d;
}

.bg-2 {
    background-color: #0588BC;
}

.bg-3 {
    background-color: #D5544F;
}

.bg-4 {
    background-color: #9CC5C9;
}

.bg-5 {
    background-color: #FF6600;
}

.bg-6 {
    background-color: #F88624;
}

.bg-7 {
    background-color: #41b3a3;
}

.bg-8 {
    background-color: #c2edce;
}

.bg-9 {
    background-color: #a3d8b2;
}

.line {
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0
}


ul li {
    cursor: pointer;
    list-style-type: none;
    background: #FF6600;
    width: 100%;
    margin: 0;

    padding: 1.5%;
    padding-left: 7%;
}

ul li:nth-child(odd) {
    background: #eb852d;
}

ul li:hover {
    background: #888;
}


ul li.done {
    background: #41b3a3;
    text-decoration: line-through;
}

.trash {
    background-color: #D5544F;

}



#title {
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Poppins', ' Lucida Sans', ' Lucida Sans Regular', ' Lucida Grande', ' Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
}

#formInput {
    background-color: #a3d8b2;

    width: 100%;

}

.tight {
    margin: 0;

}

.tightTight {
    margin: 0;
    border-radius: 0;
    border: 0;
}

.asOne-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.asOne-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.inline_btn {
    background-color: #41b3a3;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.inline_btn:hover {
    background-color: #197c6f;
}

.center-list {
    margin-right: 10%;
    width: 30%;
    margin-top: 5%;
}

.center_div {
    margin: 0 auto;
    width: 40%;
    margin-top: 20%;
}

.center_buttons {
    margin: 0 auto;
    width: 40%;
    margin-top: 10%;
}



.div_parted {
    margin-left: 10%;
    width: 30%;
    margin-top: 5%;
}